
@font-face {
  font-family: "Montserrat";
  src: url('/static/css/fonts/Montserrat/Montserrat-Regular.ttf');
}

/* Другие стили */

h1 {
  color: black;
  font-size: 40pt;
  text-align: center;
  font-family: Montserrat;
}




body{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


}

vidgets {

}